<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Two Do</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../style/style.css">
    </head>
    <body>
<!--         <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/add">Add</a>
                    </li>   
                </ul>
            </div>
        </nav>

        <h1>Two Do</h1>
        <div>a simple todo app</div>

        <div class="task-list">
            <form class="add-new-task" name="new-task" placeholder="Add a new task">
        </div>

        <div id="task-list-container">
            <ul>
                {% for todo in todos %}
                    <li class="card card-1" id="list-item-{{ todo.id }}">
                        <h4>{{ todo.title }}</h4>
                        <span class="label label-default">{{ todo.todo_list }}</span><br>
                        <i>"{{ todo.description }}"</i>
                        <span class="glyphicon glyphicon-check pull-right" aria-hidden="true"></span>
                        
                        <br><hr>

                        <button onclick="deleteItem({{ todo.id }})" type="button" class="btn btn-danger pull-right">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Remove
                        </button>
                    </li>           
                {% endfor %}
            </ul>
        </div>
    </body> -->

    <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
    <script src="../scripts/index.js"></script>
</html>
