{% extends "base.html" %}

{% block tasklist %}

<div id="task-list-container">
    <h3>Tasks:</h3>
    <ul>
        {% for todo in todos %}
            <li>{{ todo.title }}</li>         	
        {% endfor %}
    </ul>
</div>

{% endblock %}

